$black: #000;
$darkGrey: #282a36;
$black-card-opacity: #131516cc;
$black-card: #131516;
$button-background:#21262d;
$light-grey: #c9d1d9;
$white: #fff;
$box-shadow: rgba(0,0,0,0.1);

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$tablet-l: 1024px;
$hdSize: 1200px;
$fullHdSize: 1500px;
