
@import 'src/styles/variables';

body{
  margin: 0;
  color: $white;
  background-color: $darkGrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif

}

input{
  padding: 5px 12px;
  font-size: 14px;
  color: $darkGrey;
  background-color:$white;
  border: none;
  border-radius: 6px;
  outline: none;
}

button{
  color:$light-grey;
  background-color: $button-background;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
